body {
	text-align: center;
	font: 81.25% "Encode Sans Expanded", sans-serif;
	color: #2d3c49;
}

/* HEADER */
.header {
	border-bottom: 4.5px solid #7d97ad;
	margin-bottom: 5%;
}

/* COURTNEY GREEN in header */
.header-name {
	font-size: 50px;
	font-family: "Righteous", cursive;
}

/* Full Stack Web Developer title in header*/
.header-title {
	font-size: 25px;
}

/* Udacity logo in the header */
.logo {
	height: auto;
	width: 20%;
	margin: 0 auto;
}
/* END HEADER */

/* MAIN CONTENT */
/* Main image underneath header */
.main-image {
	height: auto;
	width: 100%;
}

/* PROJECTS SECTION */
/* Featured Work title */
.featured-work-headline {
	font-size: 20px;
}

/* Adding Flexbox grid to each main section/div */
.flex-container {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/* Each individual project at the bottom of the page */
.projects {
	border-bottom: 4px solid #7d97ad;
	padding: 5% 0 9% 0;
}

/* Title for each project */
.project-headline {
	font-size: 27px;
	text-decoration: underline;
}

/* Section containing Movie Trailer project */
.movie-trailer {
	margin-top: 1.3%;
}

/* Images related to each project */
.project-images {
	height: auto;
	width: 87.5%;
}

/* Description of each project under the title */
.project-description {
	font-size: 18px;
	padding: 0.2em 1em;
	margin-bottom: 10%;
}

/* Links to Github underneath each project */
.project-button {
	background-color: #02b3e4;
	text-decoration: none;
	color: white;
	font-size: 18px;
	padding: 1em 1em;
	cursor: pointer;
}

/* On hover effect for project buttons */
.project-button:hover {
	transition: all 0.5s ease 0s;
	background-color: #0392b4;
	color: white;
}
/* END PROJECTS SECTION */
/* END MAIN CONTENT */

/* Tablet version */
@media screen and (min-width: 750px) {

	/* HEADER */
	.logo {
		width: 12%;
		margin-top: 5%;
	}

	.header-name {
		font-size: 60px;
	}

	.header-title {
		font-size: 35px;
	}
	/* END HEADER */

	/* MAIN CONTENT/PROJECTS SECTION */
	.featured-work-headline {
		font-size: 30px;
	}

	.project-headline {
		font-size: 37px;
	}

	.project-description {
		font-size: 28px;
		padding: 0.5em 1em;
	}

	.project-button {
		font-size: 25px;
	}
	/* END MAIN CONTENT/PROJECTS SECTION */

}

/* Desktop version */
@media screen and (min-width: 1020px) {

	/* HEADER */
	.logo {
		margin: 1.5em;
		margin-top: 4%;
	}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 1%;
	}

	.header-text {
		text-align: right;
		margin-top: 3%;
	}
	/* END HEADER */

	/* MAIN CONTENT/PROJECTS SECTION */
	.featured-work-headline {
		text-align: left;
		font-size: 22px;
	}

   /* Shifting 3 project sections at bottom to row instead of column with flexbox */
	.flex-grid-thirds {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: -2% 5% 5% 5%;
	}

  /* Creating equal thirds for 3 project sections at bottom of page */
	.flex-grid-thirds .col {
		width: 32%;
	}

	.projects {
		border-bottom: none;
		padding: 2% 0 3% 0;
	}

	.project-headline {
		font-size: 22px;
	}

	.project-description {
		font-size: 18px;
		padding: 0 1em;
		height: 20%;
		margin-bottom: 5%;
	}

	.project-button {
		font-size: 18px;
		margin: -1.5em 0 1.5em 0;
		padding: 1em 2em;
	}
	/* END MAIN CONTENT/PROJECTS SECTION */

}
